{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="{{ HTTP_ROOT }}">
      <img src="{% static 'media/logo.png' %}"
        height="28"
        alt="Coin Sheet"
        loading="lazy"
      />
      Coin Sheet
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        {% url 'login' as login_url %}
        {% if request.path != login_url %}
          <a type="button" class="btn btn-link px-3 me-2" href="{% url 'login' %}" role="button">
            Login
          </a>
        {% endif %}

        <button type="button" class="btn btn-primary me-3" onClick="javascript:location.href = '{% url 'register' %}';">
          Sign up for free
        </button>
        <a
          class="btn btn-dark px-3"
          href="https://github.com/zahid-ali-shah/CoinSheet"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
